@import "./variables";
@mixin flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-self: center;
    width: 100%;
}
body {
  background-color: $main;
  font-family: $fontFam;
  height: 100vh;
}
header {
  text-align: center;
  margin-top: 100px;
  color: $text;
}
h1 {
  font-size: 20px;
  margin-bottom: 0;
}
h2 {
  font-size: 15px;
  text-transform: uppercase;
  color: $text;
  letter-spacing: 1.5px;
  text-align: center;
}
.check {
  background: url("images/icon-check.svg");
  height: 10px;
  width: 10px;
  background-size: contain;
  background-position: center;
  display: inline-block;
  margin-right: 5px;
}
#sign-up {
  font-size: 15px;
  line-height: 27px;
  color: $text;
}
.period {
  display: inline;
}
#card {
  color: $text;
  font-size: 12px;
  display: grid;
}
.wrapper {
  background-color: white;
  text-align: center;
  margin: 50px auto;

}
#price {
  font-size: 30px;
  font-weight: 800;
  color: $ddBlue;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;

&:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
}
input:checked + .slider {
  background-color: $sliderBg;
}

input:focus + .slider {
  box-shadow: 0 0 1px $sliderBg;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#start {
  background-color: $ddBlue;
  color: $CTA;
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 50px;
  font-size: 12px;

  &:hover {
    cursor: pointer;
    color: white;
    transition: color 0.1s ease;
  }
}
#options {
  font-size: 12px;
}
#top {
  width: 100%;
  margin-top: 20px;

  border-bottom: 2pt solid $main;
}

#bar {
  -webkit-appearance: none;

  height: 25px;
  background-color: $eSlider;
  border-radius: 50px;
  position: relative;
  outline: none;
  -webkit-transition: 1s;
  transition: all 1s ease;
  &::-webkit-slider-thumb {
    cursor: pointer;
    transition: all 1s ease;
    background-color: $sliderBg;
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-image: url("images/icon-slider.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  #term{
   
      font-size: 25px;
      
  }
}
.feature {
  display: inline;
}
#discount {
  background-color: $discountBg;
  color: $dText;
  font-weight: 800;
  padding: 2px 7px;
  border-radius: 50px;
}
@media (max-width: 700px) {
  .wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    max-width: 400px;
  }
  h2 {
    margin-bottom: 50px;
  }

  #card {
    max-width: 340px;
  }
  #sign-up {
    width: 65%;
    margin: 10px auto;
    margin-bottom: 20px;
  }

  #start {
    margin: 20px 0 30px 0;
  }
  #options {
    padding: 20px 0;
    @include flex();
  }

  #card {
    width: 100%;
  }
  #plan {
    margin-top: 30px;
  }
  #bar {
    margin: auto;  width: 90%;
  }

  #pricing {
    margin: 20px 0;
  }
}
@media(min-width:700px){
  .wrapper{
width: 50%;
padding:50px 30px 0 30px;

max-width: 600px;
  }
  #card{
    margin-top: 20px;  
  }
    #top{
        width: 100%;
        display: grid;
        height: 300px;
    }
   #pricing{
  order: 2;
  display: inline-block;
  grid-column-start: 2;
  grid-column-end: 3;
   }
   h2{
       order: 1;
       grid-column-start: 1;
       grid-column-end: 2;
       display: inline;   
   }

   .slidecontainer{
       order:3;
    width: 90%;
    max-width: 700px;
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 3;
   }
   #bar{
       width: 100%;   
   }
   #options{
       order: 4;
       display: flex;
width: 70%;
height: fit-content;
grid-column-start: 1;
grid-column-end: 3;
@include flex();
   }
#plan{
    height: 200px;
 @include flex();
}
#start{
    padding: 15px;
}
}

@media (min-height:1000px){
    .wrapper{
    transform: translateY(30%);
    }
    #intro h1,p{
        font-size:2em;
    }
}