body {
  background-color: #fafbff;
  font-family: "Manrope", sans-serif;
  height: 100vh;
}

header {
  text-align: center;
  margin-top: 100px;
  color: #858fad;
}

h1 {
  font-size: 25px;
  color: #293356;
  margin-bottom: 0;
  font-weight: 800;
}

h2 {
  font-size: 15px;
  text-transform: uppercase;
  color: #858fad;
  letter-spacing: 1.5px;
  text-align: center;
}

.check {
  background: url("images/icon-check.svg");
  height: 10px;
  width: 10px;
  background-size: contain;
  background-position: center;
  display: inline-block;
  margin-right: 5px;
}

#sign-up {
  font-size: 15px;
  line-height: 27px;
  color: #858fad;
}

.period {
  display: inline;
}

#card {
  color: #858fad;
  font-size: 12px;
  display: -ms-grid;
  display: grid;
}

.wrapper {
  background-color: white;
  text-align: center;
  margin: 50px auto;
}

#price {
  font-size: 30px;
  font-weight: 800;
  color: #293356;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #10d5c2;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #10d5c2;
          box-shadow: 0 0 1px #10d5c2;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#start {
  background-color: #293356;
  color: #bdccff;
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 50px;
  font-size: 12px;
}

#start:hover {
  cursor: pointer;
  color: white;
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease;
}

#options {
  font-size: 12px;
}

#top {
  width: 100%;
  margin-top: 20px;
  border-bottom: 2pt solid #fafbff;
}

#bar {
  -webkit-appearance: none;
  height: 25px;
  background-color: #eaeefb;
  border-radius: 50px;
  position: relative;
  outline: none;
  -webkit-transition: 1s;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

#bar::-webkit-slider-thumb {
  cursor: pointer;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  background-color: #10d5c2;
  -webkit-appearance: none;
          appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-image: url("images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
}

#bar #term {
  font-size: 25px;
}

.feature {
  display: inline;
}

#discount {
  background-color: #feece7;
  color: #ff8c66;
  font-weight: 800;
  padding: 2px 7px;
  border-radius: 50px;
}

@media (max-width: 700px) {
  .wrapper {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 400px;
  }
  h2 {
    margin-bottom: 50px;
  }
  #card {
    max-width: 340px;
  }
  #sign-up {
    width: 65%;
    margin: 10px auto;
    margin-bottom: 20px;
  }
  #start {
    margin: 20px 0 30px 0;
  }
  #options {
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-self: center;
    width: 100%;
  }
  #card {
    width: 100%;
  }
  #plan {
    margin-top: 30px;
  }
  #bar {
    margin: auto;
    width: 90%;
  }
  #pricing {
    margin: 20px 0;
  }
}

@media (min-width: 700px) {
  .wrapper {
    width: 50%;
    padding: 50px 30px 0 30px;
    max-width: 600px;
  }
  #card {
    margin-top: 20px;
  }
  #top {
    width: 100%;
    display: -ms-grid;
    display: grid;
    height: 300px;
  }
  #pricing {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: inline-block;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
  }
  h2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    display: inline;
  }
  .slidecontainer {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 90%;
    max-width: 700px;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
  }
  #bar {
    width: 100%;
  }
  #options {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-self: center;
    width: 100%;
  }
  #plan {
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-self: center;
    width: 100%;
  }
  #start {
    padding: 15px;
  }
  #options {
    max-width: 500px;
  }
}

@media (min-height: 1000px) {
  .wrapper {
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
  }
  #intro h1,
  p {
    font-size: 2em;
  }
}
/*# sourceMappingURL=styles.css.map */