body {
  background-color: #fafbff;
  font-family: "Manrope", sans-serif;
}

header {
  text-align: center;
  margin-top: 100px;
  color: #858fad;
}

h1 {
  font-size: 20px;
  margin-bottom: 0;
}

h2 {
  font-size: 15px;
  text-transform: uppercase;
  color: #858fad;
  letter-spacing: 1.5px;
  text-align: center;
}

.check {
  background: url("images/icon-check.svg");
  height: 10px;
  width: 10px;
  background-size: contain;
  background-position: center;
  display: inline-block;
  margin-right: 5px;
}

#sign-up {
  font-size: 15px;
  line-height: 27px;
  color: #858fad;
}

.period {
  display: inline;
}

#card {
  color: #858fad;
  font-size: 12px;
  display: -ms-grid;
  display: grid;
}

.wrapper {
  background-color: white;
  text-align: center;
  margin: 50px auto;
}

#price {
  font-size: 30px;
  font-weight: 800;
  color: #293356;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #10d5c2;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #10d5c2;
          box-shadow: 0 0 1px #10d5c2;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#start {
  background-color: #293356;
  color: #bdccff;
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 50px;
  font-size: 12px;
}

#start:hover {
  cursor: pointer;
  color: white;
}

#options {
  font-size: 12px;
}

#top {
  width: 100%;
  margin-top: 20px;
  border-bottom: 2pt solid #fafbff;
}

#bar {
  -webkit-appearance: none;
  width: 90%;
  height: 25px;
  background-color: #eaeefb;
  border-radius: 50px;
  position: relative;
  outline: none;
}

#bar::-webkit-slider-thumb {
  cursor: pointer;
  background-color: #10d5c2;
  -webkit-appearance: none;
          appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-image: url("images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  --progress-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2) inset;
  --progress-flll-shadow: pink;
  --fill-color: linear-gradient(to right, LightCyan, blue);
  --thumb-shadow: 0 0 4px rgba(0, 0, 0, 0.3),
    -3px 9px 9px rgba(255, 255, 255, 0.33) inset,
    -1px 3px 2px rgba(255, 255, 255, 0.33) inset,
    0 0 0 99px var(--primary-color) inset;
}

.feature {
  display: inline;
}

#discount {
  background-color: #feece7;
  color: #ff8c66;
  font-weight: 800;
  padding: 2px 7px;
  border-radius: 50px;
}

@media (max-width: 700px) {
  .wrapper {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 400px;
  }
  h2 {
    margin-bottom: 50px;
  }
  #card {
    max-width: 340px;
  }
  #sign-up {
    width: 65%;
    margin: 10px auto;
    margin-bottom: 20px;
  }
  #start {
    margin: 20px 0 30px 0;
  }
  #options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 0;
  }
  #card {
    width: 100%;
  }
  #plan {
    margin-top: 30px;
  }
  #bar {
    margin: auto;
  }
  #pricing {
    margin: 20px 0;
  }
}
/*# sourceMappingURL=styles.css.map */