@import "./variables";

body {
  background-color: $main;
  font-family: $fontFam;
}
header {
  text-align: center;
  margin-top: 100px;
  color: $text;
}
h1 {
  font-size: 20px;
  margin-bottom: 0;

}
h2 {
  font-size: 15px;
  text-transform: uppercase;
  color: $text;
  letter-spacing: 1.5px;
  text-align: center;
}

#sign-up {
  font-size: 15px;
  line-height: 27px;
  color: $text;
 
}
.period {
  display: inline;
}
#card {
  color: $text;
  font-size: 12px;
  display: grid;

}
.wrapper {
  background-color: white;
  text-align: center;
  margin: 50px auto;
 
}
#price {
  font-size: 30px;
  font-weight: 800;
  color: $ddBlue;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: $sliderBg;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px $sliderBg;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

#start {
  background-color: $ddBlue;
  color: $CTA;
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 50px;
  font-size: 12px;

  &:hover {
    cursor: pointer;
    color: white;
  }
}
#options {
font-size: 12px;

}
#top {
  width: 100%;
  margin-top: 20px;
  
  border-bottom: 2pt solid $main;
}

#bar{
    width: 90%;
    height: 7px;
    background-color: $eSlider;
    border-radius: 50px;
}
@media (max-width: 700px) {
  .wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    max-width: 400px;
  }

  #sign-up {
    width: 65%;
    margin: 10px auto;
    margin-bottom: 20px;
  }

  #start {
    margin: 20px 0 30px 0;
  }
  #options {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
   padding: 20px 0
  }

  #card {
    width: 100%;
  }
  #plan{
      margin-top: 10px;
  }
  #bar{
      margin:auto;
  }
}
